

.dashboard-container {
    margin-left: 25px;
}

.pairing-view {
    margin-left: 25px;
    .toggle-button {
        margin-left: 25px;
        .button {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
}
    
